{% for item in cart_items %}
    <div class="basket_record">
        <span class="category_name">{{ item.product.category.name }}</span><br>
        <span class="product_name">{{ item.product.name }}</span><br>

        <img src="/media/{{ item.product.image }}" 
             alt="{{ item.product.short_desc }}">

        <span class="product_price">{{ item.product.price }}&nbspруб</span>
        <input type="number" name="{{ item.pk }}" min="0" 
                             value="{{ item.quantity }}">
        <span class="product_cost">{{ item.cost }}&nbspруб</span>
        <button class="button-17">
            <a href="{% url 'cart:remove' item.pk %}" class="text-simple">
                удалить
            </a>
        </button>
    </div>
{% endfor %}

{% if cart_items %}
    <div class="summary">
        В корзине {{ cart_items.0.total_quantity }} товаров общей стоимостью
        {{ cart_items.0.total_cost }} руб
    </div>
{% endif %}